<div class="panel panel-default clear" >
    <div class="panel-heading brand">
        <div class="panel-title">{{#ucwords title}}{{/ucwords}}</div>
    </div>

    <div class="panel-body" >
        <form 
            enctype="multipart/form-data"
            method="post"
            {{#if cdn_config}}
                data-do="cdn-upload"
                data-on="submit"
                data-progress="We are uploading your files. Please do not refresh page."
                data-complete="Upload Complete"
                data-enctype="{{cdn_config.form.enctype}}"
                data-method="{{cdn_config.form.method}}"
                data-action="{{cdn_config.form.action}}"
                data-cdn="{{cdn_config.form.action}}"
                data-acl="{{cdn_config.inputs.acl}}"
                data-key="{{cdn_config.inputs.key}}"
                data-credential="{{cdn_config.inputs.X-Amz-Credential}}"
                data-algorythm="{{cdn_config.inputs.X-Amz-Algorithm}}"
                data-date="{{cdn_config.inputs.X-Amz-Date}}"
                data-policy="{{cdn_config.inputs.Policy}}"
                data-signature="{{cdn_config.inputs.X-Amz-Signature}}"
            {{/if}}
        >
        
            <div class="form-group{{#if errors.node_image}} has-error{{/if}}">
                <label class="control-label">Image</label>
                <div>
                    
                    <div data-do="image-field"
                        data-name="node_image"
                        data-width="200"
                        data-height="200"
                        data-alt="Change this Photo"
                        class="image-field">
                            {{#if item.node_image}}
                                <input type="hidden" name="node_image" value="{{item.node_image}}" />
                                <img alt="Change this Photo" width="200" src="{{item.node_image}}" />
                            {{else}}
                                <img alt="Upload a Photo" width="200" class="placeholder" src="/images/default-image.png" />
                            {{/if}}
                    </div>
            
                    {{#if errors.node_image}}
                    <span class="help-text">{{errors.node_image}}</span>
                    {{/if}}
                </div>
            </div>
            
            <div class="form-group{{#if errors.node_title}} has-error{{/if}}">
                <label class="control-label">Title</label>
                <div>
                    <input name="node_title" value="{{item.node_title}}" placeholder="Enter a Title" type="text" class="form-control" />
            
                    {{#if errors.node_title}}
                    <span class="help-text">{{errors.node_title}}</span>
                    {{/if}}
                </div>
            </div>
            
            <div class="form-group{{#if errors.node_slug}} has-error{{/if}}">
                <label class="control-label">Slug</label>
                <div>
                    <input name="node_slug" value="{{item.node_slug}}" placeholder="Enter a unique SEO slug" type="text" class="form-control" />
            
                    {{#if errors.node_slug}}
                    <span class="help-text">{{errors.node_slug}}</span>
                    {{/if}}
                </div>
            </div>
            
            <div class="form-group{{#if errors.node_detail}} has-error{{/if}}">
                <label class="control-label">Detail</label>
                <div>
                    <textarea name="node_detail" placeholder="Write about something" class="form-control">{{{item.node_detail}}}</textarea>
            
                    {{#if errors.node_detail}}
                    <span class="help-text">{{errors.node_detail}}</span>
                    {{/if}}
                </div>
            </div>
            
            <div class="form-group{{#if errors.node_tags}} has-error{{/if}}">
                <label class="control-label">Tags</label>
                <div>
                    
                    <div data-do="tag-field" class="tag-field" data-name="node_tags">
                        {{#each item.node_tags}}
                            <div class="tag">
                                <input type="text" class="tag-input text-field" name="node_tags[]" placeholder="{{_ 'Add Tag'}}" value="{{this}}" />
                                <a class="remove" href="javascript:void(0)"><i class="fa fa-times"></i></a>
                            </div>
                        {{/each}}
                    </div>
            
                    {{#if errors.node_tags}}
                    <span class="help-text">{{errors.node_tags}}</span>
                    {{/if}}
                </div>
            </div>
            
            <div class="form-group{{#if errors.node_meta}} has-error{{/if}}">
                <label class="control-label">Meta Data</label>
                <div>
                    
                    <div data-do="meta-field" class="meta-field" data-name="node_meta">
                            {{#each item.node_meta}}
                                <div class="meta">
                                    <input type="text" class="meta-input key" placeholder="{{_ 'Name'}}" value="{{@key}}" />
                                    <input type="text" class="meta-input value" placeholder="{{_ 'Value'}}" value="{{this}}" />
                                    <input type="hidden" name="node_meta[{{@key}}]" value="{{this}}">
                                    <a class="remove" href="javascript:void(0)"><i class="fa fa-times"></i></a>
                                </div>
                            {{/each}}
                    </div>
                    <a class="add-meta" href="javascript:void(0)"><i class="fa fa-plus"></i></a>
            
                    {{#if errors.node_meta}}
                    <span class="help-text">{{errors.node_meta}}</span>
                    {{/if}}
                </div>
            </div>
            
            <div class="form-group{{#if errors.node_files}} has-error{{/if}}">
                <label class="control-label">Files</label>
                <div>
                    
                    <div
                        data-do="file-field"
                        data-name="node_files"
                        data-multiple="1"
                    >
                        {{#if item.node_files}}
                            <h5>Current Files</h5>
                            {{#each item.node_files}}
                            <div class="file">
                                <a href="{{this}}" target="_blank">{{this}}</a>
                            </div>
                            {{/each}}
                        {{/if}}
                    </div>
            
                    {{#if errors.node_files}}
                    <span class="help-text">{{errors.node_files}}</span>
                    {{/if}}
                </div>
            </div>
            
            <div class="form-group{{#if errors.node_status}} has-error{{/if}}">
                <label class="control-label">Type</label>
                <div>
                    <input name="node_status" value="{{item.node_status}}" placeholder="pending" type="text" class="form-control" />
            
                    {{#if errors.node_status}}
                    <span class="help-text">{{errors.node_status}}</span>
                    {{/if}}
                </div>
            </div>
            
            <div class="form-group{{#if errors.node_published}} has-error{{/if}}">
                <label class="control-label">Published Date</label>
                <div>
                    <input name="node_published" value="{{item.node_published}}" type="date" class="form-control" />
            
                    {{#if errors.node_published}}
                    <span class="help-text">{{errors.node_published}}</span>
                    {{/if}}
                </div>
            </div>
            
            <div class="form-group{{#if errors.node_flag}} has-error{{/if}}">
                <label class="control-label">Flag</label>
                <div>
                    <input name="node_flag" value="{{item.node_flag}}" step="1" placeholder="0" type="number" class="form-control" />
            
                    {{#if errors.node_flag}}
                    <span class="help-text">{{errors.node_flag}}</span>
                    {{/if}}
                </div>
            </div>

            <div class="clear form-group">
                <input type="hidden" name="csrf" value="" />
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/scripts/cropper.js"></script>
