<tr class="meta-field" data-index="{{@index}}">
    <td class="meta-action" nowrap="nowrap" valign="middle">
        <a
            class="field-move-up"
            data-do="move-up"
            data-on="click"
            data-level="2"
            href="javascript:void(0)"
        >
            <i class="fa fa-arrow-up"></i>
        </a>
        <a
            class="field-move-down"
            data-do="move-down"
            data-on="click"
            data-level="2"
            href="javascript:void(0)"
        >
            <i class="fa fa-arrow-down"></i>
        </a>
        <a
            class="field-remove text-danger"
            data-do="field-remove"
            data-on="click"
            data-level="2"
            href="javascript:void(0)"
        >
            <i class="fa fa-remove"></i>
        </a>
    </td>
    <td>
        <input
            class="field-label form-control"
            placeholder="Field Title"
            name="meta_fields[{{@index}}][label]"
            type="text"
            value="{{label}}"
        />
    </td>
    <td>
        {{> meta_types}}
    </td>
    <td>
        {{#each validation}}
            {{> meta_validation}}
        {{/each}}
        <button
            class="btn btn-info"
            data-do="validation-add"
            data-on="click"
            type="button"
        >
            Add Validation
        </button>
    </td>
    <td>
        {{> meta_lists}}
    </td>
    <td>
        {{> meta_details}}
    </td>
    <td>
        <input
            class="field-default form-control"
            placeholder="Default Value"
            name="meta_fields[{{@index}}][default]"
            type="text"
            value="{{default}}"
        />
    </td>
    <td class="checkbox-cell">
        <input
            class="field-searchable"
            name="meta_fields[{{@index}}][searchable]"
            type="checkbox"
            value="1"
            {{#if searchable}} checked{{/if}}
        />
    </td>
    <td class="checkbox-cell">
        <input
            class="field-filterable"
            name="meta_fields[{{@index}}][filterable]"
            type="checkbox"
            value="1"
            {{#if filterable}} checked{{/if}}
        />
    </td>
    <td class="checkbox-cell">
        <input
            class="field-sortable"
            name="meta_fields[{{@index}}][sortable]"
            type="checkbox"
            value="1"
            {{#if sortable}} checked{{/if}}
        />
    </td>
</tr>
