<style>
.meta-fields .table-overflow {
    max-height: 600px;
    overflow: auto;
}
.meta-fields .table th,
.meta-fields .table td {
    min-width: 200px;
}

.meta-fields .table .checkbox-cell {
    min-width: auto;
    text-align: center;
}

.meta-fields .meta-action a {
    display: inline-block;
    margin: 5px 0 0 5px;
}

.meta-fields .input-attributes,
.meta-fields .input-options,
.meta-fields .input-input,
.meta-fields .input-pair {
    margin-top: 4px;
}

.meta-fields .validation-row,
.meta-fields .attribute-row,
.meta-fields .option-row {
    margin-bottom: 4px;
}

.meta-fields .input-pair input {
    margin-bottom: 4px
}

.meta-fields .attribute-row {
    display: table;
}

.meta-fields .attribute-row > * {
    display: table-cell;
}
</style>
