<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Admin</a>
    <button
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        class="navbar-toggler"
        data-target="#navbarSupportedContent"
        data-toggle="collapse"
        type="button"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Front End</a>
            </li>
        </ul>
        <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item dropdown nav-notifications">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    data-do="history"
                    data-on="click"
                    data-init-url="/admin/history/get/logs"
                    data-url="/admin/history/read/logs"
                >
                    <i class="fas fa-bell"></i>
                    <span class="badge badge-danger" id="histories">0</span>
                </a>
                <div class="dropdown-menu">
                    <div id="logs">
                    </div>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/admin/history/search">Show All</a>
                </div>
            </li>
            <li class="nav-item dropdown nav-profile">
                <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <img class="rounded-circle" src="/images/default-avatar.png" width="40" />
                    Welcome {{#request 'session' 'me'}}{{user_name}}{{/request}}
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/logout?redirect_uri={{request 'server' 'REQUEST_URI'}}">Logout</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
