<!DOCTYPE html>
<html lang="en" class="{{page.class}} branding">
    <head>
        <meta charset="utf-8" />
        <title>{{page.title}}</title>

        <!-- MOBILE TAGS -->
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, height=device-height, width=device-width" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />

        {{#each page.meta}}
        <meta name="{{@key}}" content="{{this}}" />
        {{/each}}

        <link rel="shortcut icon" href="{{config 'cdn'}}/favicon.ico" type="image/x-icon" />
        <link rel="icon" type="image/png" href="{{config 'cdn'}}/favicon.png" />
        <link rel="icon" type="image/x-icon" href="{{config 'cdn'}}/favicon.ico" />

        <link rel="stylesheet" type="text/css" href="{{config 'cdn'}}/components/fontawesome5-webfont/css/fontawesome-all.min.css" />
        <link rel="stylesheet" type="text/css" href="{{config 'cdn'}}/components/toastr/build/toastr.min.css" />
        <link rel="stylesheet" type="text/css" href="{{config 'cdn'}}/components/open-sans-fontface/open-sans.css" />
        <link rel="stylesheet" type="text/css" href="{{config 'cdn'}}/components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="{{config 'cdn'}}/styles/admin.css" />

        <script type="text/javascript" src="{{config 'cdn'}}/components/jquery/dist/jquery.min.js"></script>
        <script type="text/javascript" src="{{config 'cdn'}}/components/bootstrap/dist/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{config 'cdn'}}/components/toastr/build/toastr.min.js"></script>
        <script type="text/javascript" src="{{config 'cdn'}}/components/select2/dist/js/select2.full.min.js"></script>
        <script type="text/javascript" src="{{config 'cdn'}}/scripts/doon.js"></script>
        <script type="text/javascript" src="{{config 'cdn'}}/scripts/cropper.js"></script>
        <script type="text/javascript" src="{{config 'cdn'}}/scripts/admin.js"></script>
        <script type="text/javascript">
            // prevent toastr duplicates
            toastr.options.preventDuplicates = true;
            // enable a close button
            toastr.options.closeButton = true;
            // override the close button's HTML.
            toastr.options.closeHtml = '<button><i class="fa fa-close"></i></button>';
            // show toastr progress bar
            toastr.options.progressBar = true;
            // show toastr on bottom right
            toastr.options.positionClass = 'toast-bottom-right';
        </script>
    </head>

    <body>
        <header class="head">{{> head}}</header>
        <section class="body">
            <aside class="sidebar">
                {{> sidebar}}
            </aside>
            <main class="main">
                {{> breadcrumb}}
                <div class="main-padding">
                    {{{content}}}
                </div>
            </main>
        </section>
        {{#if page.flash}}
            <script type="text/javascript">
                // get flash type
                var type = '{{page.flash.type}}';

                // if danger
                if(type == 'danger') {
                    type = 'error';
                }

                // init toastr
                toastr[type]('{{page.flash.message}}');
            </script>
        {{/if}}
    </body>
</html>
