<ul class="nav flex-column">
    <li class="nav-item active">
        <a class="nav-link" href="#">
            <i class="fas fa-cog"></i>
            <span class="nav-text">Item 1</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">
            <i class="fas fa-cog"></i>
            <span class="nav-text">Item 2</span>
            <span class="nav-right">
                <div class="badge badge-info">4</div>
            </span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#item-1">
            <i class="fas fa-cog"></i>
            <span class="nav-text">Item 3</span>
            <span class="nav-right">
                <i class="fas fa-chevron-down"></i>
            </span>
        </a>
        <div id="item-1" class="collapse">
            <ul class="nav flex-column ml-4">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-cog"></i>
                        <span class="nav-text">Item 1</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-cog"></i>
                        <span class="nav-text">Item 2</span>
                        <span class="nav-right">
                            <div class="badge badge-info">4</div>
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
</ul>
