<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin">
                <i class="fas fa-home"></i> Admin
            </a>
        </li>
        <li class="breadcrumb-item" aria-current="page">
            <i class="fas fa-key"></i> Roles
        </li>
        <li class="breadcrumb-item active" aria-current="page">
             {{title}}
        </li>
    </ol>
</nav>

<div class="main-padding">
    <h3 class="main-title"><i class="fa fa-key"></i> {{title}}</h3>
    <form enctype="multipart/form-data" method="post">
        <div class="form-group">
            <label class="control-label">Role Name</label>
            <input
                class="form-control {{#if errors.role_name}}is-invalid{{/if}}"
                placeholder="Super Admin"
                name="role_name"
                value="{{item.role_name}}"
                type="text">
            {{#if errors.role_name}}
            <div class="invalid-feedback">
                {{errors.role_name}}
            </div>
            {{/if}}
        </div>
        <div class="table-overflow {{#if errors.role_permissions}}form-control is-invalid{{/if}}">
            <label class="control-label">Permissions</label>
            {{#if permissions}}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            <label class="checkbox checkbox-1">
                                <input type="checkbox" data-do="table-checkall">
                                <span></span>
                            </label>
                        </th>
                        <th>Label</th>
                        <th>Method</th>
                        <th>Path</th>
                    </tr>
                </thead>
                <tbody>
                {{#each permissions}}
                    <tr>
                        <td>
                            <label class="checkbox checkbox-1">
                                <input
                                    type="checkbox"
                                    name="role_permissions[{{label}}]"
                                    {{#if checked}}
                                    checked="checked"
                                    {{/if}}>
                                <span></span>
                            </label>
                        </td>
                        <td>{{label}}</td>
                        <td>{{method}}</td>
                        <td>{{path}}</td>
                    </tr>
                {{/each}}
                </tbody>
            </table>
            {{else}}
            <!-- START: NO RESULTS -->
            <div class="alert alert-info no-results">
                <center>No Results Found.</center>
                <center>Go to this <a href="/admin/permission/create">link</a> to create permissions.</center>
            </div>
            <!-- END: NO RESULTS -->
            {{/if}}
        </div>
        {{#if errors.role_permissions}}
        <div class="invalid-feedback">
            {{errors.role_permissions}}
        </div>
        {{/if}}
        {{#if permissions}}
        <div class="clear form-group">
            <hr/>
            <input type="hidden" name="csrf" value="" />
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        {{/if}}
    </form>
</div>
