bin
vendor

config/jwt.php
config/services.php
config/settings.php
config/roles.php
config/permissions.php
config/test.php
config/admin/menu.php
config/admin/schema/*.php
config/admin/schema/*.csv

public/bower_components
public/components
public/upload
config/version.php
config/version.php
