bin
vendor

config/services.php
config/settings.php
config/roles.php
config/test.php
config/admin/*
config/rest/jwt.php

public/bower_components
public/components
public/upload
config/version.php
config/version.php
