bin
vendor

config/services.php
config/settings.php
config/roles.php
config/test.php
config/schema/*.php
config/schema/*.csv

public/bower_components
public/components
public/upload
config/version.php
config/version.php
