<div class="form-group{{#if error}} has-error{{/if}}">
    <label class="control-label">{{label}}</label>
    <div>
        <input 
            name="{{@key}}" 
            value="{{value}}" 
            placeholder="{{field.attributes.placeholder}}" 
            type="number" 
            class="form-control" 
            {{#if disable}}disabled{{/if}}

            {{#when field.type '===' 'small'}}
            min="0"
            max="9"
            {{/when}}
            
            {{#when field.type '===' 'float'}}
            step="0.01"
            {{/when}}
        />

        {{#if error}}
        <span class="help-text">{{error}}</span>
        {{/if}}
    </div>
</div>