<center><img src="/images/newtons-cradle-large.jpg" /></center>
<h1>Object Management System</h1>
{{#request 'session' 'me'}}
    <a class="btn btn-lg btn-info m-4" href="/admin/system/schema/search">Go To Admin</a>
{{else}}
    <section class="container section section-1">
        <h2>Features</h2>
        <div class="row right">
            <div class="col-1 col-sm-5">
                <a href="/images/cradle/full-7.png" target="_blank">
                    <img src="/images/cradle/preview-7.png" />
                </a>
            </div>
            <div class="col-2 col-sm-7">
                <h3>Objects and Relations</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet dictum nulla. Nam feugiat faucibus volutpat. Sed eget eros mauris. Sed eu urna rutrum, congue dolor id, tincidunt eros. Maecenas pretium dolor mi, et aliquam nisl elementum non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a mi ac erat suscipit feugiat in a erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sodales vehicula massa ut luctus. Nam dapibus ullamcorper felis, ac malesuada arcu volutpat a.</p>
            </div>
        </div>
        <div class="row left">
            <div class="col-1 col-sm-7">
                <h3>Organize Fields</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet dictum nulla. Nam feugiat faucibus volutpat. Sed eget eros mauris. Sed eu urna rutrum, congue dolor id, tincidunt eros. Maecenas pretium dolor mi, et aliquam nisl elementum non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a mi ac erat suscipit feugiat in a erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sodales vehicula massa ut luctus. Nam dapibus ullamcorper felis, ac malesuada arcu volutpat a.</p>
            </div>
            <div class="col-2 col-sm-5">
                <a href="/images/cradle/full-8.png" target="_blank">
                    <img src="/images/cradle/preview-8.png" />
                </a>
            </div>
        </div>
        <div class="row right">
            <div class="col-1 col-sm-5">
                <a href="/images/cradle/full-6.png" target="_blank">
                    <img src="/images/cradle/preview-6.png" />
                </a>
            </div>
            <div class="col-2 col-sm-7">
                <h3>Validations and Output Formats</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet dictum nulla. Nam feugiat faucibus volutpat. Sed eget eros mauris. Sed eu urna rutrum, congue dolor id, tincidunt eros. Maecenas pretium dolor mi, et aliquam nisl elementum non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a mi ac erat suscipit feugiat in a erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sodales vehicula massa ut luctus. Nam dapibus ullamcorper felis, ac malesuada arcu volutpat a.</p>
            </div>
        </div>
        <div class="row left">
            <div class="col-1 col-sm-7">
                <h3>Dynamic Search Pages</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet dictum nulla. Nam feugiat faucibus volutpat. Sed eget eros mauris. Sed eu urna rutrum, congue dolor id, tincidunt eros. Maecenas pretium dolor mi, et aliquam nisl elementum non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a mi ac erat suscipit feugiat in a erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sodales vehicula massa ut luctus. Nam dapibus ullamcorper felis, ac malesuada arcu volutpat a.</p>
            </div>
            <div class="col-2 col-sm-5">
                <a href="/images/cradle/full-3.png" target="_blank">
                    <img src="/images/cradle/preview-3.png" />
                </a>
            </div>
        </div>
        <div class="row right">
            <div class="col-1 col-sm-5">
                <a href="/images/cradle/full-4.png" target="_blank">
                    <img src="/images/cradle/preview-4.png" />
                </a>
            </div>
            <div class="col-2 col-sm-7">
                <h3>Dynamic Forms</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet dictum nulla. Nam feugiat faucibus volutpat. Sed eget eros mauris. Sed eu urna rutrum, congue dolor id, tincidunt eros. Maecenas pretium dolor mi, et aliquam nisl elementum non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a mi ac erat suscipit feugiat in a erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sodales vehicula massa ut luctus. Nam dapibus ullamcorper felis, ac malesuada arcu volutpat a.</p>
            </div>
        </div>
        <div class="row left">
            <div class="col-1 col-sm-7">
                <h3>Relational Actions and Filters</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet dictum nulla. Nam feugiat faucibus volutpat. Sed eget eros mauris. Sed eu urna rutrum, congue dolor id, tincidunt eros. Maecenas pretium dolor mi, et aliquam nisl elementum non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a mi ac erat suscipit feugiat in a erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sodales vehicula massa ut luctus. Nam dapibus ullamcorper felis, ac malesuada arcu volutpat a.</p>
            </div>
            <div class="col-2 col-sm-5">
                <a href="/images/cradle/full-6.png" target="_blank">
                    <img src="/images/cradle/preview-6.png" />
                </a>
            </div>
        </div>
        <div class="row right">
            <div class="col-1 col-sm-5">
                <a href="/images/cradle/full-1.png" target="_blank">
                    <img src="/images/cradle/preview-1.png" />
                </a>
            </div>
            <div class="col-2 col-sm-7">
                <h3>Lots of Fields</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet dictum nulla. Nam feugiat faucibus volutpat. Sed eget eros mauris. Sed eu urna rutrum, congue dolor id, tincidunt eros. Maecenas pretium dolor mi, et aliquam nisl elementum non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a mi ac erat suscipit feugiat in a erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sodales vehicula massa ut luctus. Nam dapibus ullamcorper felis, ac malesuada arcu volutpat a.</p>
            </div>
        </div>
        <div class="row left">
            <div class="col-1 col-sm-7">
                <h3>Fully Templated</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet dictum nulla. Nam feugiat faucibus volutpat. Sed eget eros mauris. Sed eu urna rutrum, congue dolor id, tincidunt eros. Maecenas pretium dolor mi, et aliquam nisl elementum non. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer a mi ac erat suscipit feugiat in a erat. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris sodales vehicula massa ut luctus. Nam dapibus ullamcorper felis, ac malesuada arcu volutpat a.</p>
            </div>
            <div class="col-2 col-sm-5">
                <a href="/images/cradle/full-9.png" target="_blank">
                    <img src="/images/cradle/preview-9.png" />
                </a>
            </div>
        </div>
    </section>

    <section class="container section section-2">
        <h2>Built on Top of</h2>
        <div class="banner">
            <a href="#" target="_blank">
                <img src="/images/cradle/bootstrap.png" />
            </a>
            <a href="#" target="_blank">
                <img src="/images/cradle/fontawesome.png" />
            </a>
            <a href="#" target="_blank">
                <img src="/images/cradle/yarn.png" />
            </a>
            <a href="#" target="_blank">
                <img src="/images/cradle/handlebars.png" />
            </a>
        </div>
        <div class="row">
            <div class="col-sm">
                <ul>
                    <li>
                        <a href="#" target="_blank">
                            Ace Editor <i class="fas fa-external-link-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            Ace Editor <i class="fas fa-external-link-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            Ace Editor <i class="fas fa-external-link-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            Ace Editor <i class="fas fa-external-link-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <ul>
                    <li>
                        <a href="#" target="_blank">
                            Ace Editor <i class="fas fa-external-link-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            Ace Editor <i class="fas fa-external-link-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            Ace Editor <i class="fas fa-external-link-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            Ace Editor <i class="fas fa-external-link-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-sm">
                <ul>
                    <li>
                        <a href="#" target="_blank">
                            Ace Editor <i class="fas fa-external-link-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            Ace Editor <i class="fas fa-external-link-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            Ace Editor <i class="fas fa-external-link-alt"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="_blank">
                            Ace Editor <i class="fas fa-external-link-alt"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
{{/request}}
