<option value="none">No Field</option>
<optgroup label="String Fields">
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|date|html"
        value="text"
    >
        Text Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|date|html"
        value="email"
    >
        Email Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|date|html"
        value="password"
    >
        Password Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|date|html"
        value="search"
    >
        Search Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|date|html"
        value="url"
    >
        URL Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|date|html"
        value="color"
    >
        Color Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|date|html"
        value="format"
    >
        Format Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|date|html"
        value="slug"
    >
        Slug Field
    </option>
    <option
        data-index="searchable"
        data-fieldset="attributes"
        data-format="string|date|html"
        value="textarea"
    >
        Textarea Field
    </option>
    <option
        data-index="searchable"
        data-fieldset="attributes"
        data-format="string|date|html"
        value="wysiwyg"
    >
        WYSIWYG Field
    </option>
</optgroup>
<optgroup label="Number Fields">
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="number"
    >
        Number Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="small"
    >
        Small Number Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="range"
    >
        Range Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="float"
    >
        Float Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="price"
    >
        Price Field
    </option>
</optgroup>
<optgroup label="Date Fields">
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="date"
    >
        Date Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="time"
    >
        Time Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="datetime"
    >
        Date Time Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="week"
    >
        Week Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|date|html"
        value="month"
    >
        Month Field
    </option>
</optgroup>
<optgroup label="Option Fields">
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|html"
        value="checkbox"
    >
        Checkbox Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="number|html"
        value="switch"
    >
        Switch Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes|keyval"
        value="select"
    >
        Select Field
    </option>
    <option
        data-fieldset="attributes|keyval"
        data-format="json"
        value="checkboxes"
    >
        Checkboxes Fieldset
    </option>
    <option
        data-fieldset="attributes|keyval"
        data-format="json"
        value="radios"
    >
        Radios Fieldset
    </option>
</optgroup>
<optgroup label="File Fields">
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|html"
        value="file"
    >
        File Field
    </option>
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|html"
        value="image"
    >
        Image Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="json"
        value="files"
    >
        Files Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="json"
        value="images"
    >
        Images Fieldset
    </option>
</optgroup>
<optgroup label="JSON Fields">
    <option
        data-fieldset="attributes"
        data-format="json"
        value="tag"
    >
        Tag Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="json"
        value="meta"
    >
        Meta Field
    </option>
    <option
        data-fieldset="attributes"
        data-format="json"
        value="multirange"
    >
        Multi Range Field
    </option>
</optgroup>
<optgroup label="_________">
    <option
        data-index="searchable|filterable|sortable"
        data-fieldset="attributes"
        data-format="string|number|date|html|json"
        value="custom"
    >
        Custom Field
    </option>
</optgroup>
