<div class="validation-row" data-index="{{@index}}">
    <div class="input-group">
        <select
            class="form-control"
            data-do="field-validation"
            data-on="change"
            name="object_fields[{{../@index}}][validation][{{@index}}][method]"
        >
            {{> object_validation-options}}
        </select>
        <span class="input-group-btn">
            <a
                class="btn btn-danger"
                data-do="remove"
                data-on="click"
                data-level="3"
            >
                <i class="fa fa-remove"></i>
            </a>
        </span>
    </div>

    {{#if parameters}}
        {{#is_array parameters}}
            <div class="input-options">
                {{#each parameters}}
                    <div class="option-row input-group" data-index="{{@index}}">
                        <input
                            class="form-control option-value"
                            name="object_fields[{{../../@index}}][validation][{{../@index}}][parameters][{{@index}}]"
                            placeholder="Value"
                            type="text"
                            value="{{this}}"
                        />
                        <span class="input-group-btn">
                            <a
                                class="btn btn-danger"
                                data-do="option-remove"
                                data-on="click"
                                data-level="2"
                                href="javascript:void(0)"
                            >
                                <i class="fa fa-remove"></i>
                            </a>
                        </span>
                    </div>
                {{/each}}
                <button
                    class="btn btn-info option-add"
                    data-do="option-add"
                    data-name="object_fields[{{../@index}}][validation][{{@index}}][parameters][{INDEX}]"
                    data-on="click"
                    type="button"
                >
                    Add Option
                </button>
            </div>
        {{else}}
            <div class="input-input">
                <input
                    class="form-control"
                    name="object_fields[{{../@index}}][validation][{{@index}}][parameters]"
                    type="text"
                    value="{{parameters}}"
                />
            </div>
        {{/is_array}}
    {{/if}}

    <input
        name="object_fields[{{../@index}}][validation][{{@index}}][message]"
        class="form-control validation-message"
        placeholder="Error Message"
        type="text"
        value="{{message}}"
    />
</div>
