{{> object_styles}}

<div class="panel panel-default clear" >
    <div class="panel-heading brand">
        <div class="panel-title">{{title}}</div>
    </div>

    <div class="panel-body" >
        <form enctype="multipart/form-data" method="post">
            <div class="form-group{{#if errors.object_singular}} has-error{{/if}}">
                <label class="control-label">Singular</label>
                <div>
                    <input
                        class="form-control object-singular"
                        name="object_singular"
                        placeholder="Enter the Singular Name"
                        value="{{item.object_singular}}"
                        type="text"
                    />

                    {{#if errors.object_singular}}
                    <span class="help-text">{{errors.object_singular}}</span>
                    {{/if}}
                </div>
            </div>

            <div class="form-group{{#if errors.object_plural}} has-error{{/if}}">
                <label class="control-label field-object-plural">Plural</label>
                <div>
                    <input
                        name="object_plural"
                        value="{{item.object_plural}}"
                        placeholder="Enter the Plural Name"
                        type="text"
                        class="form-control object-plural"
                    />

                    {{#if errors.object_plural}}
                    <span class="help-text">{{errors.object_plural}}</span>
                    {{/if}}
                </div>
            </div>

            <div class="form-group{{#if errors.object_key}} has-error{{/if}}">
                <label class="control-label">Keyword</label>
                <div>
                    <input
                        class="form-control object-key"
                        data-do="slugger"
                        data-source="input.object-singular"
                        data-upper="0"
                        data-space="_"
                        name="object_key"
                        value="{{item.object_key}}"
                        placeholder="Enter a unique keyword"
                        type="text"
                    />

                    {{#if errors.object_key}}
                    <span class="help-text">{{errors.object_key}}</span>
                    {{/if}}
                </div>
            </div>

            <div class="form-group{{#if errors.object_detail}} has-error{{/if}}">
                <label class="control-label">Detail</label>
                <div>
                    <textarea
                        class="form-control object-detail"
                        name="object_detail"
                        placeholder="What does this object do?"
                        rows="10"
                    >{{{item.object_detail}}}</textarea>

                    {{#if errors.object_detail}}
                    <span class="help-text">{{errors.object_detail}}</span>
                    {{/if}}
                </div>
            </div>

            <div class="form-group{{#if errors.object_fields}} has-error{{/if}}">
                <label class="control-label">Fields</label>
                <div>
                    <div id="object-fields" class="object-fields" data-name="object_fields">
                        <div class="table-overflow">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Keyword</th>
                                        <th>Label</th>
                                        <th>Field</th>
                                        <th>List Format</th>
                                        <th>Detail Format</th>
                                        <th>Default</th>
                                        <th>Searchable</th>
                                        <th>Filterable</th>
                                        <th>Sortable</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each item.object_fields}}
                                        {{> object_row}}
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                        <button
                            class="field-add btn btn-info"
                            data-do="field-add"
                            data-on="click"
                            data-target="#object-fields tbody"
                            type="button"
                        >
                            Add Field
                        </button>
                    </div>

                    {{#if errors.object_fields}}
                    <span class="help-text">{{errors.object_fields}}</span>
                    {{/if}}
                </div>
            </div>

            <div class="form-group{{#if errors.object_fields}} has-error{{/if}}">
                <label class="control-label">Relations</label>
                <div>
                    {{#each item.object_relations}}
                        <div class="relation-row" data-index="{{@index}}">
                            <a
                                class="text-danger"
                                data-do="relation-remove"
                                data-level="1"
                                data-on="click"
                                href="javascript:void(0)"
                            >
                                <i class="fa fa-remove"></i>
                            </a>
                            <strong
                                class="relation-object"
                                data-default="??"
                                data-do="copy-to-text"
                                data-trigger="input.object-singular"
                            >
                                {{../item.object_singular}}
                            </strong>
                            <i class="fa fa-arrow-right"></i>
                            <select
                                class="form-control relation-many"
                                name="object_relations[{{@index}}][many]">
                                <option
                                    value="0"
                                    {{#when many '==' 0}}selected{{/when}}
                                >
                                    1:0
                                </option>
                                <option
                                    value="1"
                                    {{#when many '==' 1}}selected{{/when}}
                                >
                                    1:1
                                </option>
                                <option
                                    value="2"
                                    {{#when many '==' 2}}selected{{/when}}
                                >
                                    1:N
                                </option>
                            </select>
                            <i class="fa fa-arrow-right"></i>
                            <input
                                class="form-control relation-object"
                                name="object_relations[{{@index}}][object]"
                                placeholder="Enter Object Keyword"
                                type="text"
                                value="{{object}}"
                            />
                        </div>
                    {{/each}}
                    <button
                        class="relation-add btn btn-info"
                        data-default="??"
                        data-do="relation-add"
                        data-name="object_relations[{INDEX}]"
                        data-on="click"
                        type="button"
                    >
                        Add Relation
                    </button>
                </div>
            </div>

            <div class="clear form-group">
                <input type="hidden" name="csrf" value="" />
                <input type="hidden" name="object_type" value="{{item.object_type}}" />
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>

{{> object_templates}}

{{> object_scripts}}
