<div class="menu-builder-input input-group">
    <div class="input-group-prepend">
        <button class="menu-builder-handle btn btn-default">
            <i
                class="fas fa-question fa-fw"
                data-do="icon-field"
                data-target-parent="3"
            ></i>
            <input
                class="form-control"
                name="icon"
                type="hidden"
            />
        </button>
    </div>
    <input
        class="form-control"
        name="icon"
        placeholder="Menu Title"
        type="text"
    />
    <input
        class="form-control"
        name="icon"
        placeholder="/some/path"
        type="text"
    />
    <div class="input-group-append">
        <button class="btn btn-success">
            <i class="fas fa-plus"></i>
        </button>
        <button class="btn btn-danger">
            <i class="fas fa-times"></i>
        </button>
    </div>
</div>
