<li class="menu-builder-item">
    {{> menu_input}}
    <ol class="menu-builder-list">
        <li class="menu-builder-item">
            {{> menu_input}}
            <ol class="menu-builder-list">
                <li class="menu-builder-item">
                    {{> menu_input}}
                    <ol class="menu-builder-list"></ol>
                </li>
            </ol>
        </li>
        <li class="menu-builder-item">
            {{> menu_input}}
            <ol class="menu-builder-list"></ol>
        </li>
    </ol>
</li>
