<div class="form-group{{#if error}} has-error{{/if}}">
    <label class="control-label">{{label}}</label>
    <div>
        
        <div data-do="tag-field" class="tag-field" data-name="{{field.key}}">
            {{#each field.value}}
                <div class="tag">
                    <input type="text" class="tag-input text-field" name="{{field.key}}[]" placeholder="{{_ 'Add Tag'}}" value="{{this}}" />
                    <a class="remove" href="javascript:void(0)"><i class="fa fa-times"></i></a>
                </div>
            {{/each}}
        </div>

        {{#if error}}
        <span class="help-text">{{error}}</span>
        {{/if}}
    </div>
</div>