<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin">
                <i class="fas fa-home"></i> Admin
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="/admin/system/object/{{schema.name}}/search">
                <i class="fas fa-{{schema.icon}}"></i> {{schema.plural}}
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <i class="fas fa-plus"></i> {{title}}
        </li>
    </ol>
</nav>

<div class="main-padding">
    <form
        class="box"
        method="post"
        {{#if cdn_config}}
            data-do="cdn-upload"
            data-on="submit"
            data-progress="{{_ 'We are uploading your files. Please do not refresh page.'}}"
            data-complete="{{_ 'Upload Complete'}}"
            data-enctype="{{cdn_config.form.enctype}}"
            data-method="{{cdn_config.form.method}}"
            data-action="{{cdn_config.form.action}}"
            data-cdn="{{cdn_config.form.action}}"
            data-acl="{{cdn_config.inputs.acl}}"
            data-key="{{cdn_config.inputs.key}}"
            data-credential="{{cdn_config.inputs.X-Amz-Credential}}"
            data-algorythm="{{cdn_config.inputs.X-Amz-Algorithm}}"
            data-date="{{cdn_config.inputs.X-Amz-Date}}"
            data-policy="{{cdn_config.inputs.Policy}}"
            data-signature="{{cdn_config.inputs.X-Amz-Signature}}"
        {{/if}}
    >
        <div class="box-head box-success">
            <div class="box-title">
                <i class="fa fa-plus"></i> {{title}}
            </div>
        </div>
        <div class="box-body box-padding">
            {{#each schema.relations}}
                {{#when many '==' 0}}
                    <div class="form-group{{#has @key ../errors}} has-error{{/has}}">
                        <label class="control-label">{{capital table}}</label>
                        <div>
                            <input
                                class="form-control suggestion-label-{{table}}"
                                placeholder="John Doe"
                                type="text"
                            />
                            <input
                                class="suggestion-value-{{table}}"
                                name="{{primary2}}"
                                type="hidden"
                            />
                            <div
                                class="input-suggestion d-none"
                                data-do="suggestion-field"
                                data-label="input.suggestion-label-{{table}}"
                                data-value="input.suggestion-value-{{table}}"
                                {{#in table 'user,auth'}}
                                    data-url="/admin/{{table}}/suggestions?q={QUERY}"
                                {{else}}
                                    data-url="/admin/system/object/{{table}}/suggestions?q={QUERY}"
                                {{/when}}
                            ></div>
                        </div>
                    </div>
                {{/when}}
                {{#when many '==' 1}}
                    <div class="form-group{{#has @key ../errors}} has-error{{/has}}">
                        <label class="control-label">{{capital table}}</label>
                        <div>
                            <input
                                class="form-control suggestion-label-{{table}}"
                                placeholder="John Doe"
                                type="text"
                            />
                            <input
                                class="suggestion-value-{{table}}"
                                name="{{primary2}}"
                                type="hidden"
                            />
                            <div
                                class="input-suggestion d-none"
                                data-do="suggestion-field"
                                data-label="input.suggestion-label-{{table}}"
                                data-value="input.suggestion-value-{{table}}"
                                {{#in table 'user,auth'}}
                                    data-url="/admin/{{table}}/suggestions?q={QUERY}"
                                {{else}}
                                    data-url="/admin/system/object/{{table}}/suggestions?q={QUERY}"
                                {{/when}}
                            ></div>
                        </div>
                    </div>
                {{/when}}
            {{/each}}
            {{#each schema.fields}}
                {{#in field.type 'none,hide,active,created,updated'}}
                {{else}}
                    <div class="form-group{{#has @key ../errors}} has-error{{/has}}">
                        <label class="control-label">{{label}}</label>
                        <div>
                            {{> object_fields}}
                            {{#has @key ../errors}}
                                <span class="help-text">{{key @key ../errors}}</span>
                            {{/has}}
                        </div>
                    </div>
                {{/in}}
            {{/each}}
        </div>
        <div class="box-foot box-light">
            <div class="box-left">
                <input type="hidden" name="csrf" value="{{csrf}}" />
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
