{{#when filter schema.active '===' '0'}}
    <h3>
        {{number total}} Inactive {{title}}
        {{#if q.0}}
            matching {{q.0}}
        {{/if}}
    </h3>
{{else}}
    <h3>
        {{number total}} {{title}}
        {{#if q.0}}
            matching {{q.0}}
        {{/if}}
    </h3>
{{/when}}

<div class="clearfix">
    <!-- START: SEARCH FORM -->
    <form class="pull-right search form-inline" method="get">
        <div class="form-group">
            <input name="q[]" placeholder="Search" type="text"
            value="{{q.0}}" class="form-control" />
        </div>
        <button class="btn"><i class="fa fa-search"></i></button>
    </form>
    <!-- END: SEARCH FORM -->

    <div class="btn-group" role="group" aria-label="...">
        <a class="btn btn-primary" href="?filter[{{schema.active}}]=1">
            Active
        </a>
        <a class="btn btn-danger" href="?filter[{{schema.active}}]=0">
            Inactive
        </a>
    </div>
    <span>
        <a class="btn btn-success" href="/admin/system/object/{{schema.name}}/create">
            <i class="fa fa-plus"></i>
            Create New {{schema.singular}}
        </a>
    </span>
</div>

<!-- START: BULK FORM -->
<form method="post" class="form-inline bulk-form pad-vertical">
    <div class="panel panel-default clear">
        <div class="panel-body">
            {{#if rows}}
                <div class="table-overflow">
                    <!-- START: TABLE -->
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Actions</th>
                                {{#each schema.fields}}
                                    {{#in @key ../schema.listable}}
                                        {{#in @key ../schema.sortable}}
                                            <th>
                                                <a href="?{{sorturl @key}}">
                                                    {{label}}
                                                    {{sortcaret @key}}
                                                </a>
                                            </th>
                                        {{else}}
                                            <th>{{label}}</th>
                                        {{/in}}
                                    {{/in}}
                                {{/each}}
                            </tr>
                        </thead>
                        <tbody>
                            {{#each rows}}
                                <tr data-id="{{key ../schema.primary this}}">
                                    <td>
                                        {{#is_active this ../schema}}
                                            <a
                                                title="Edit"
                                                href="/admin/system/object/{{../schema.name}}/update/{{key ../schema.primary this}}"
                                            >
                                                <i class="fa fa-edit"></i>
                                            </a>
                                            &nbsp;
                                            <a
                                                title="Remove"
                                                href="/admin/system/object/{{../schema.name}}/remove/{{key ../schema.primary this}}"
                                                class="text-danger remove"
                                            >
                                                <i class="fa fa-times"></i>
                                            </a>
                                        {{else}}
                                            <a
                                                title="Restore"
                                                href="/admin/system/object/{{../schema.name}}/restore/{{key ../schema.primary this}}"
                                                class="text-success restore"
                                            >
                                                <i class="fa fa-external-link"></i>
                                            </a>
                                        {{/is_active}}
                                    </td>
                                    {{#get_format this ../schema}}
                                        {{#when format '===' 'none'}}
                                            <td>{{value}}</td>
                                        {{/when}}
                                        {{#when format '===' 'lower'}}
                                            <td>{{tolower value}}</td>
                                        {{/when}}
                                        {{#when format '===' 'upper'}}
                                            <td>{{toupper value}}</td>
                                        {{/when}}
                                        {{#when format '===' 'capital'}}
                                            <td>{{capital value}}</td>
                                        {{/when}}
                                        {{#when format '===' 'length'}}
                                            <td>{{char_length value parameters}}</td>
                                        {{/when}}
                                        {{#when format '===' 'words'}}
                                            <td>{{word_length value parameters}}</td>
                                        {{/when}}
                                        {{#when format '===' 'number'}}
                                            <td>{{number value}}</td>
                                        {{/when}}
                                        {{#when format '===' 'price'}}
                                            <td>{{parameters}}{{price value}}</td>
                                        {{/when}}
                                        {{#when format '===' 'yes'}}
                                            <td>{{#if value}}Yes{{else}}No{{/if}}</td>
                                        {{/when}}
                                        {{#when format '===' 'date'}}
                                            <td>{{date value parameters}}</td>
                                        {{/when}}
                                        {{#when format '===' 'relative'}}
                                            <td>{{relative value parameters}}</td>
                                        {{/when}}
                                        {{#when format '===' 'strip'}}
                                            <td>{{strip value parameters}}</td>
                                        {{/when}}
                                        {{#when format '===' 'link'}}
                                            <td><a href="{{parameters.0}}">{{parameters.1}}</a></td>
                                        {{/when}}
                                        {{#when format '===' 'image'}}
                                            <td><img src="{{value}}" width="{{parameters.0}}" height="{{parameters.1}}" /></td>
                                        {{/when}}
                                        {{#when format '===' 'email'}}
                                            <td><a href="mailto:{{value}}">{{parameters}}</a></td>
                                        {{/when}}
                                        {{#when format '===' 'phone'}}
                                            <td><a href="tel:{{value}}">{{parameters}}</a></td>
                                        {{/when}}
                                        {{#when format '===' 'comma'}}
                                            <td>{{implode value ','}}</td>
                                        {{/when}}
                                        {{#when format '===' 'space'}}
                                            <td>{{implode value ' '}}</td>
                                        {{/when}}
                                        {{#when format '===' 'tag'}}
                                            <td>
                                                {{#each value}}
                                                    <div class="tag">{{this}}</div>
                                                {{/each}}
                                            </td>
                                        {{/when}}
                                    {{/get_format}}
                                </tr>
                            {{/each}}
                        </tbody>
                    </table>
                    <!-- END: TABLE -->
                </div>
            {{else}}
                <!-- START: NO RESULTS -->
                <div class="well no-results">No Results Found</div>
                <!-- END: NO RESULTS -->
            {{/if}}
        </div>
    </div>

    <ul class="pagination">
        {{#pager total range}}
        <li{{#if active}} class="active"{{/if}}><a href="?{{href}}">{{page}}</a></li>
        {{/pager}}
    </ul>
</form>
