body, html {
    background-color: #29363D;
    color: #232323;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    height: 100%;
}

h1, h2, h3, h4, h5 {
    border-bottom: 1px solid #EEEEEE;
    font-weight: 300;
    padding-bottom: 20px;
}

hr { border-color: #E7E7E7; }

input, select, button, a.btn {
    border-radius: 0 !important;
}

.nav-right {
    float: right;
}

nav .navbar-brand {
    text-align: center;
    width: 175px;
}

.clear { clear: both; }
.pad-top { margin-top: 10px; }
.pad-bottom { margin-top: 10px; }
.pad-top-2 { margin-top: 20px; }
.pad-bottom-2 { margin-top: 20px; }

.head .nav-profile img {
    margin: -14px 0px -10px;
}

.head .nav-notifications img {
    float: left;
    width: 30px;
}

.head .nav-notifications .dropdown-item {
    padding: 10px 20px;
}

.head .nav-notifications .notification-info {
    display: block;
    padding-left: 40px;
}

.head .nav-notifications .dropdown-item:nth-child(2n) {
    background-color: #E9ECEF;
    border-bottom: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
}

.head .nav-notifications .notification-time {
    display: block;
    font-size: 12px;
}

.head .dropdown-menu {
    border-radius: 0;
}

.body .main-title {
    border-bottom: 0;
    font-size: 18px;
    font-weight: 500;
    margin: 0 0 20px;
    padding-bottom: 0;
}

/* Box
------------------------------*/
.box {
    border: 1px solid #DEE2E6;
    margin-bottom: 20px;
}

.box .box-padding {
    padding: 10px;
}

/* Modal
------------------------------*/
.modal .modal-title {
    border-bottom: 0;
    padding-bottom: 0;
}

/* Widget - Image Field
------------------------------*/
.image-field { text-align: center; }

/* Widget - Suggestion
-----------------------------*/
.input-suggestion {
    position: absolute;
    top: 44px;
    width: 100%;
    left: 0;
}

.input-suggestion ul {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    left: 0;
    list-style: none;
    max-height: 230px;
    overflow: auto;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.input-suggestion li {
    padding: 5px 10px;
}

.input-suggestion li.hover,
.input-suggestion li:hover {
    background: #ffe493;
}

.search-actions .input-group {
    width: auto;
}

/* Widget - Tag Field
-----------------------------*/
.tag-field {
    border: 1px solid #CCCCCC;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    cursor: text;
    margin-bottom: 0;
    min-height: 36px;
}

.tag-field .tag {
    background-color: #F58020;
    border-radius: 4px;
    cursor: default;
    display: inline-block;
    margin: 2px 0 2px 2px;
    padding: 5px;
}

.tag-field .tag input[type="text"] {
    background: none;
    border: 0;
    box-shadow: none;
    color: #FFE493;
    outline: none;
    padding: 0;
    width: 24px;
}ticle.

.tag-field .tag input[type="text"]::-webkit-input-placeholder {
    color: #FFFFFF;
}

.tag-field .tag input[type="text"]::-moz-placeholder {
    color: #FFFFFF;
}

.tag-field .tag input[type="text"]:-ms-input-placeholder {
    color: #FFFFFF;
}

.tag-field .tag input[type="text"]input:-moz-placeholder {
    color: #FFFFFF;
}

.tag-field .tag .remove {
    color: #DB5E5E;
    padding-left: 5px;
}

/* Widget - Notify
------------------------------*/
.notify {
    background-color: #232323;
    bottom: 0;
    color: #EFEFEF;
    height: auto !important;
    left: 0;
    opacity: .95;
    padding: 20px;
    position: fixed;
    text-align: center;
    width: 100%;
    z-index: 10000;
}

.notify-info {
  color: #FFFFFF;
  background-color: #5BC0DE;
}

.notify-success {
  color: #FFFFFF;
  background-color: #5CB85C;
}

.notify-danger {
  color: #FFFFFF;
  background-color: #D9534F;
}

.notify-warning {
  color: #FFFFFF;
  background-color: #F0AD4E;
}

.notify .message {
    display: block;
    margin-top: 5px;
    padding-right: 25px;
}

.notify > a {
    float: right;
    font-size: 20px;
    color: #EFEFEF;
}

/* Branding
------------------------------*/

.branding a.btn-info,
.branding a.btn-info:link,
.branding a.btn-info:hover,
.branding a.btn-info:active,
.branding a.btn-info:visited,

.branding a.btn-primary,
.branding a.btn-primary:link,
.branding a.btn-primary:hover,
.branding a.btn-primary:active,
.branding a.btn-primary:visited,

.branding a.btn-warning,
.branding a.btn-warning:link,
.branding a.btn-warning:hover,
.branding a.btn-warning:active,
.branding a.btn-warning:visited,

.branding a.btn-success,
.branding a.btn-success:link,
.branding a.btn-success:hover,
.branding a.btn-success:active,
.branding a.btn-success:visited,

.branding a.btn-danger,
.branding a.btn-danger:link,
.branding a.btn-danger:hover,
.branding a.btn-danger:active,
.branding a.btn-danger:visited {
    color: #FFFFFF !important;
}

.branding .alert { border-radius: 0; margin-top: 20px; }
.branding .alert .fa { font-size: 20px; }

.branding header .navbar {
    background-color: #FFFFFF;
    border-bottom: 1px solid #C2CFD6;
    margin-bottom: 0;
}

.branding header .navbar ul li a {
    color: #29363D;
}

.branding header .navbar ul li a i {
    margin-top: -12px;
}

.branding header .navbar .navbar-brand img {
    height: 20px;
}

.branding header .navbar .navbar-toggle .icon-bar {
    background-color: #45A9D9;
}

.branding .body {
    background-color: #29363D;
    height: 100%;
    padding: 0;
}

.branding .body .sidebar + .main {
    left: -1px;
    margin-left: 190px;
    min-height: 100%;
    position: relative;
}

.branding .body .sidebar + .main {
    background-color: #FFFFFF;
    border-left: 1px solid #CCCCCC;
    margin-right: 0;
    margin-top: 0;
}

.branding .body .main-padding {
    padding: 20px;
}

.branding footer {
    color: #FFFFFF;
    padding: 40px 0;
}

.branding footer a,
.branding footer a:link,
.branding footer a:hover,
.branding footer a:active,
.branding footer a:visited {
    color: #FFFFFF !important;
}

.branding footer ul {
    list-style: none;
}

.branding footer .left {
    width: 200px;
}

.branding footer .logo {
    background: #FFFFFF;
    display: inline-block;
    font-weight: 700;
    padding: 2px;
    margin-right: 5px;
}

.branding footer .logo img {
    height: 60px;
}

.branding footer .title {
    font-weight: 700;
    line-height: 20px;
}

.branding footer .version {
    line-height: 20px;
}

.branding footer .updated {
    line-height: 20px;
}

.branding footer .masthead {
    padding-top: 20px;
}

.branding footer .copy {
    border-top: 1px solid #EEEEEE;
    display: block;
    font-size: 12px;
    padding-top: 20px;
    text-align: center;
}

.branding pre.code {
    background-color: #FFFFFF;
    border-radius: 0;
    padding: 0 0 0 3.8em;
}

.branding pre.code code {
    display: inline-block;
}
.branding .line-numbers .line-numbers-rows {
    background-color: #f5f2f0;
}

/* Sidebar
----------------------------- */
.sidebar {
    border-right: 1px solid #CCCCCC;
    float: left;
    position: relative;
    width: 190px;
}

.sidebar .nav-item {
    border: 0;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-top-style: none;
    border-bottom-style: none;
    border-top-color: currentcolor;
    border-bottom-color: currentcolor;
    display: block;
    padding: 0;
    margin: 0;
    position: relative;
}

.sidebar .nav-item.active {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 13px;
}

.sidebar .nav-item.active .nav-link {
    background-color: #33444C;
}

.sidebar .nav-item.active::after {
    border: 8px solid transparent;
    border-top-width: 8px;
    border-right-width: 8px;
    border-bottom-width: 8px;
    border-left-width: 8px;
    border-right-color: transparent;
    border-width: 14px 10px;
    border-right-color: #536C79;
    content: "";
    display: block;
    position: absolute !important;
    right: 0;
    top: 4px;
}

.sidebar .nav-link {
    background-color: #29363D;
    color: #FFFFFF;
    display: block;
    font-weight: 300;
    font-size: 13px;
    height: 38px;
    line-height: 36px;
    padding: 0 16px 0 7px;
    text-decoration: none;
    text-shadow: none;
}

.sidebar > .nav > .nav-item > div > .nav {
    position: relative;
}

.sidebar > .nav > .nav-item > div > .nav::before {
    content: "";
    bottom: 0;
    border: 1px dotted #9dbdd6;
    border-width: 0 0 0 1px;
    display: block;
    position: absolute;
    left: -2px;
    top: 0;
    z-index: 1;
}

.sidebar > .nav > .nav-item > div > .nav > .nav-item::before {
    border-top: 1px dotted #9dbdd6;
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    top: 17px;
    width: 7px;
}

.sidebar .nav-link:hover,
.sidebar .nav-item.active:hover .nav-link,
.sidebar .nav-item .collapse ul li:hover .nav-link {
    background-color: #20A8D8;
}

.sidebar .nav-item.active:hover:after {
    border-right-color: #FFFFFF;
}

.sidebar .nav-link:hover > i:first-child {
    color: #FFFFFF;
}

.sidebar .nav-item .collapse,
.sidebar .nav-item .collapse ul li .nav-link {
    background-color: #33444C;
}

.sidebar .nav-item.active a,
.sidebar .nav-item.active a:hover,
.sidebar .nav-item.active a:focus,
.sidebar .nav-item.active a:active {
    color: #FFFFFF;
}

.sidebar .nav-link > i:first-child {
    color: #536C79;
    display: inline-block;
    margin-right: 2px;
    min-width: 30px;
    text-align: center;
    vertical-align: middle;
}

/* Breadcrumb
------------------------------*/
.breadcrumb {
    background-color: #FFFFFF;
    border-bottom: 1px solid #C2CFD6;
    border-radius: 0;
    margin-bottom: 0;
}

/* Text
------------------------------*/
.text-default {
    color: #ABBAC3 !important;
}

.text-primary {
    color: #428BCA !important;
}

.text-info {
    color: #6FB3E0 !important;
}

.text-warning {
    color: #FFB752 !important;
}

.text-success {
    color: #87B87F !important;
}

.text-danger {
    color: #D15B47 !important;
}

.text-inverse {
    color: #555555 !important;
}

.text-pink {
    color: #D6487E !important;
}

.text-purple {
    color: #9585BF !important;
}

.text-yellow {
    color: #FEE188 !important;
}

.text-grey {
    color: #A0A0A0 !important;
}

.text-light {
    color: #E7E7E7 !important;
}

.text-white {
    color: #F9F9F9 !important;
}

/* Field - Checkbox
------------------------------*/
.checkbox input {
    cursor: pointer;
    height: 18px;
    opacity: 0;
    position: absolute;
    width: 18px;
    z-index: 12;
}

.checkbox input:checked,
.checkbox input:focus {
  outline: none !important;
}

.checkbox span {
    display: inline-block;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    min-height: 18px;
    min-width: 18px;
    position: relative;
    z-index: 11;
}

.checkbox span::before {
    background-color: #FAFAFA;
    border: 1px solid #C8C8C8;
    border-radius: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #32A3CE;
    content: "\a0";
    display: inline-block;
    font-family: fontAwesome;
    font-size: 12px;
    font-weight: normal;
    height: 16px;
    line-height: 14px;
    min-width: 16px;
    margin-right: 5px;
    text-align: center;
    vertical-align: middle;
}

.checkbox input:checked + span::before {
    display: inline-block;
    content: '\f00c';
    background-color: #F5F8FC;
    border-color: #ADB8C0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
        inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.checkbox input:hover + span::before,
.checkbox span:hover::before {
    border-color: #FF893C;
}

.checkbox input:active + span::before,
.checkbox input:checked:active + span::before  {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.checkbox.checkbox-2 span::before {
    box-shadow: none;
}

.checkbox.checkbox-2 input:checked + span::before {
    background-color: #f9A021;
    border-color: #f9A021;
    color: #FFFFFF;
}

.checkbox input:disabled + span::before,
.checkbox input[disabled] + span::before,
.checkbox input.disabled + span::before {
    background-color: #DDDDDD !important;
    border-color: #CCCCCC !important;
    box-shadow: none !important;
    color: #BBB888;
}

/* Field - Radio
------------------------------*/
/* Field - Buttons
------------------------------*/
.radio input {
    cursor: pointer;
    height: 18px;
    opacity: 0;
    position: absolute;
    width: 18px;
    z-index: 12;
}

.radio input:checked,
.radio input:focus {
  outline: none !important;
}

.radio span {
    display: inline-block;
    font-weight: normal;
    line-height: 20px;
    margin: 0;
    min-height: 18px;
    min-width: 18px;
    position: relative;
    z-index: 11;
}

.radio span::before {
    background-color: #FAFAFA;
    border: 1px solid #C8C8C8;
    border-radius: 100%;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #32A3CE;
    content: "\a0";
    display: inline-block;
    font-family: FontAwesome;
    font-size: 11px;
    font-weight: normal;
    height: 17px;
    line-height: 15px;
    min-width: 17px;
    margin-right: 5px;
    text-align: center;
    text-shadow: 0 0 1px #32a3ce;
    vertical-align: middle;
}

.radio input:checked + span::before {
    display: inline-block;
    content: "\f111";
    background-color: #F5F8FC;
    border-color: #ADB8C0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05),
        inset 15px 10px -12px rgba(255, 255, 255, 0.1);
}

.radio input:hover + span::before,
.radio span:hover::before {
    border-color: #FF893C;
}

.radio input:active + span::before,
.radio input:checked:active + span::before  {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
}

.radio.radio-2 span::before {
    box-shadow: none;
}

.radio.radio-2 input:checked + span::before {
    background-color: #f9A021;
    border-color: #f9A021;
    color: #FFFFFF;
    content: '\f00c';
}

.radio input:disabled + span::before,
.radio input[disabled] + span::before,
.radio input.disabled + span::before {
    background-color: #DDDDDD !important;
    border-color: #CCCCCC !important;
    box-shadow: none !important;
    color: #BBB888;
}

/* Field - Buttons
------------------------------*/
.btn {
    border-radius: 0;
    margin-bottom: 0;
}

.btn-default {
    background-color: #ABBAC3;
    border-color: #ABBAC3;
    color: #FFFFFF;
}

.btn-default:hover {
    background-color: #8B9AA3;
    border-color: #ABBAC3;
    color: #FFFFFF;
}

.btn-primary {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
}

.btn-primary:hover {
    background-color: #1B6AAA;
    border-color: #428BCA;
}

.btn-info {
    background-color: #6FB3E0;
    border-color: #6FB3E0;
    color: #FFFFFF;
}

.btn-info:hover {
    background-color: #4F99C6;
    border-color: #6FB3E0;
}

.btn-warning {
    background-color: #FFB752;
    border-color: #FFB752;
    color: #FFFFFF;
}

.btn-warning:hover {
    background-color: #E59729;
    border-color: #FFB752;
    color: #FFFFFF;
}

.btn-success {
    background-color: #87B87F;
    border-color: #87B87F;
    color: #FFFFFF;
}

.btn-success:hover {
    background-color: #629B58;
    border-color: #87B87F;
}

.btn-danger {
    background-color: #D15B47;
    border-color: #D15B47;
    color: #FFFFFF;
}

.btn-danger:hover {
    background-color: #B74635;
    border-color: #D15B47;
}

.btn-inverse {
    background-color: #555555;
    border-color: #555555;
    color: #FFFFFF;
}

.btn-inverse:hover {
    background-color: #303030;
    border-color: #555555;
    color: #FFFFFF;
}

.btn-pink {
    background-color: #D6487E;
    border-color: #D6487E;
    color: #FFFFFF;
}

.btn-pink:hover {
    background-color: #B73766;
    border-color: #D6487E;
    color: #FFFFFF;
}

.btn-purple {
    background-color: #9585BF;
    border-color: #9585BF;
    color: #FFFFFF;
}

.btn-purple:hover {
    background-color: #7461AA;
    border-color: #9585BF;
    color: #FFFFFF;
}

.btn-yellow {
    background-color: #FEE188;
    border-color: #FEE188;
    color: #996633;
}

.btn-yellow:hover {
    background-color: #F7D05B;
    border-color: #FEE188;
}

.btn-grey {
    background-color: #A0A0A0;
    border-color: #A0A0A0;
    color: #FFFFFF;
}

.btn-grey:hover {
    background-color: #888888;
    border-color: #A0A0A0;
    color: #FFFFFF;
}

.btn-light {
    background-color: #E7E7E7;
    border-color: #E7E7E7;
    color: #888888;
}

.btn-light:hover {
    background-color: #D9D9D9;
    border-color: #E7E7E7;
}

.btn-outline {
    background-color: transparent;
    border-color: #FFFFFF;
    color: #FFFFFF;
}

.btn-outline:hover {
    background-color: transparent;
    border-color: #CCCCCC;
    color: #CCCCCC;
}

/* Component - Panel
------------------------------*/
.card {
	border-radius: 0;
    margin-top: 20px;
}

.card-body {
    overflow: auto;
}

/* Component - Form
------------------------------*/
.split-input input {
    display: inline-block;
    width: 29%;
}

.split-input input:first-child {
    width: 69%;
}

.hide-groups .form-group {
    display: none;
}

.group-toggle {
    color: #006699;
    cursor: pointer;
}

.has-error span.help-text {
    color: #A94442;
}

/* UI - Box
------------------------------*/
.box {
    border: 1px solid #DEE2E6;
    margin-bottom: 20px;
}

.box .box-head,
.box .box-foot {
    height: 35px;
}

.box .box-head::after,
.box .box-foot::after {
    clear: both;
    content: "";
    display: block;
}

.box .box-left {
    float: left;
}

.box .box-right {
    float: right !important;
}

.box .box-head.box-border {
    border-bottom: 1px solid #CCCCCC;
}

.box .box-head > *,
.box .box-foot > * {
    float: left;
    line-height: 35px;
    vertical-align: middle;
}

.box .box-head .box-padding,
.box .box-foot .box-padding {
    padding: 0 10px;
}

.box .box-head .btn,
.box .box-foot .btn {
    border: 0;
    float: left;
    line-height: inherit;
    padding-bottom: 0;
    padding-top: 0;
}

.box .box-head .btn:last-child,
.box .box-foot .btn:last-child {
    margin: 0;
}

.box .box-toolbar .progress {
    width: 100px;
}

.box .box-head .nav-link,
.box .box-foot .nav-link {
    color: #FFFFFF;
    padding-bottom: 0;
    padding-top: 0;
}

.box .box-head .nav-tabs .nav-link,
.box .box-foot .nav-tabs .nav-link {
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

.box .box-head .nav-tabs .nav-link.active,
.box .box-foot .nav-tabs .nav-link.active {
    color: #495057;
}

.box .box-padding {
    padding: 10px;
}

.box .box-title {
    font-size: 13px;
    margin: 0;
    padding: 0 10px;
    white-space: nowrap;
}

.box .box-body-subtitle {
    font-size: 13px;
}

.box-default {
    background-color: #ABBAC3;
    border-color: #ABBAC3;
    color: #FFFFFF;
}

.box-primary {
    background-color: #428BCA;
    border-color: #428BCA;
    color: #FFFFFF;
}

.box-secondary {
    background-color: #6C757D;
    border-color: #6C757D;
    color: #FFFFFF;
}

.box-info {
    background-color: #6FB3E0;
    border-color: #6FB3E0;
    color: #FFFFFF;
}

.box-warning {
    background-color: #FFB752;
    border-color: #FFB752;
    color: #FFFFFF;
}

.box-success {
    background-color: #87B87F;
    border-color: #87B87F;
    color: #FFFFFF;
}

.box-danger {
    background-color: #D15B47;
    border-color: #D15B47;
    color: #FFFFFF;
}

.box-inverse {
    background-color: #555555;
    border-color: #555555;
    color: #FFFFFF;
}

.box-pink {
    background-color: #D6487E;
    border-color: #D6487E;
    color: #FFFFFF;
}

.box-purple {
    background-color: #9585BF;
    border-color: #9585BF;
    color: #FFFFFF;
}

.box-yellow {
    background-color: #FEE188;
    border-color: #FEE188;
    color: #996633;
}

.box-yellow .nav-item .nav-link {
    color: #996633;
}

.box-grey {
    background-color: #A0A0A0;
    border-color: #A0A0A0;
    color: #FFFFFF;
}

.box-light {
    background-color: #E7E7E7;
    border-color: #E7E7E7;
    color: #888888;
}

.box-light .nav-item .nav-link {
    color: #888888;
}

.box #editor {
    height: 100px;
}

/* Search 
-------------------------------- */
.col.import, .col.export {
    padding-left: 5px;
    padding-right: 5px; 
}