<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin">
                <i class="fas fa-home"></i> Admin
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <i class="fas fa-handshake"></i> Permissions
        </li>
    </ol>
</nav>

<style>
    .table .permissions-item label {
        margin-right: 10px;
    }
</style>

<div class="main-padding">

    <h3 class="main-title"><i class="fa fa-handshake"></i> Permission Search Example</h3>

    <div class="clearfix mb-4 search-actions">
        <div class="btn-group" role="group" aria-label="...">
            <a class="btn btn-primary" href="?filter[permission_active]=1">
                Active
            </a>
            <a class="btn btn-danger" href="?filter[permission_active]=0">
                Inactive
            </a>
        </div>

        <div class="float-right">
            <a class="btn btn-success" href="/admin/permission/create">
                <i class="fas fa-plus"></i> Create Permission
            </a>
        </div>
    </div>

    <form method="post" action="/admin/permission/create">
        <div class="table-overflow">
            {{#if permissions}}
            <!-- START: TABLE -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Actions</th>
                        <th>Label</th>
                        <th>Method</th>
                        <th>Path</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each permissions}}
                        <tr data-id="{{@key}}">
                            <td>
                                {{#if active}}
                                    <a title="Restore" href="/admin/permission/restore/{{@key}}" class="text-success restore">
                                    <i class="fas fa-external-link-alt"></i></a>
                                {{else}}
                                    <a class="text-info" title="Edit" href="/admin/permission/update/{{@key}}">
                                    <i class="fas fa-edit"></i></a>
                                    &nbsp;
                                    <a class="text-danger" title="Remove" href="/admin/permission/remove/{{@key}}"
                                    class="text-danger remove"><i class="fas fa-times"></i></a>
                                {{/if}}
                            </td>
                            <td>
                                <a href="/admin/permission/update/{{@key}}">{{label}}</a>
                            </td>
                            <td>
                                {{method}}
                            </td>
                            <td>
                                {{path}}
                            </td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>
            <!-- END: TABLE -->
            {{else}}
            <!-- START: NO RESULTS -->
            <div class="alert alert-info no-results">
                <center>No Results Found.</center>
            </div>
            <!-- END: NO RESULTS -->
            {{/if}}
        </div>
    </form>
</div>
