<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/admin">
                <i class="fas fa-home"></i> Admin
            </a>
        </li>
        <li class="breadcrumb-item">
            <a href="/admin/user/search">
                <i class="fas fa-user"></i> User
            </a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            <i class="fas fa-plus"></i> {{title}}
        </li>
    </ol>
</nav>
<div class="main-padding">
    <form
        class="box"
        method="post"
    >
        <div class="box-head box-success">
            <div class="box-title">
                <i class="fa fa-plus"></i> {{title}}
            </div>
        </div>
        <div class="box-body box-padding">
            <div class="form-group{{#if errors.user_name}} has-error{{/if}}">
                <label class="control-label">Name</label>
                <div>
                    <input name="user_name" value="{{item.user_name}}" placeholder="John Doe" type="text" class="form-control" />

                    {{#if errors.user_name}}
                    <span class="help-text">{{errors.user_name}}</span>
                    {{/if}}
                </div>
            </div>
            
            <div class="form-group{{#if errors.user_meta}} has-error{{/if}}">
                <label class="control-label">Meta Data</label>
                <div>
                    
                    <div data-do="meta-field" class="meta-field" data-name="user_meta">
                            {{#each item.user_meta}}
                                <div class="meta">
                                    <input type="text" class="meta-input key" placeholder="{{_ 'Name'}}" value="{{@key}}" />
                                    <input type="text" class="meta-input value" placeholder="{{_ 'Value'}}" value="{{this}}" />
                                    <input type="hidden" name="user_meta[{{@key}}]" value="{{this}}">
                                    <a class="remove" href="javascript:void(0)"><i class="fa fa-times"></i></a>
                                </div>
                            {{/each}}
                    </div>
                    <a class="add-meta" href="javascript:void(0)"><i class="fa fa-plus"></i></a>

                    {{#if errors.user_meta}}
                    <span class="help-text">{{errors.user_meta}}</span>
                    {{/if}}
                </div>
            </div>
            
            <div class="form-group{{#if errors.user_files}} has-error{{/if}}">
                <label class="control-label">Files</label>
                <div>
                    <input name="user_files" value="{{item.user_files}}" multiple="multiple" type="file" class="form-control" />

                    {{#if errors.user_files}}
                    <span class="help-text">{{errors.user_files}}</span>
                    {{/if}}
                </div>
            </div>
        </div>
        <div class="box-foot box-light">
            <div class="box-left">
                <input type="hidden" name="csrf" value="{{csrf}}" />
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript" src="/scripts/cropper.js"></script>
