<option value="none">No Filter</option>
<optgroup class="filter-group-string" label="String Filters">
    <option
        value="lower"
        {{#when list.format '===' 'lower'}}selected{{/when}}
    >
        Lower Case
    </option>
    <option
        value="upper"
        {{#when list.format '===' 'upper'}}selected{{/when}}
    >
        Upper Case
    </option>
    <option
        value="capital"
        {{#when list.format '===' 'capital'}}selected{{/when}}
    >
        Capitalize
    </option>
    <option
        data-fieldset="input"
        data-placeholder="How many characters"
        value="length"
        {{#when list.format '===' 'length'}}selected{{/when}}
    >
        Character Length
    </option>
    <option
        data-fieldset="input"
        data-placeholder="How many words"
        value="words"
        {{#when list.format '===' 'words'}}selected{{/when}}
    >
        Word Length
    </option>
</optgroup>
<optgroup class="filter-group-number" label="Number Filters">
    <option
        value="number"
        {{#when list.format '===' 'number'}}selected{{/when}}
    >
        Comma Format
    </option>
    <option
        data-fieldset="input"
        data-placeholder="Currency"
        value="price"
        {{#when list.format '===' 'price'}}selected{{/when}}
    >
        Price Format
    </option>
    <option
        value="yes"
        {{#when list.format '===' 'yes'}}selected{{/when}}
    >
        Yes/No
    </option>
</optgroup>
<optgroup class="filter-group-date" label="Date Filters">
    <option
        data-fieldset="input"
        data-placeholder="Date Format"
        value="date"
        {{#when list.format '===' 'date'}}selected{{/when}}
    >
        Date Format
    </option>
    <option
        data-fieldset="input"
        data-placeholder="Date Format"
        value="relative"
        {{#when list.format '===' 'relative'}}selected{{/when}}
    >
        Relative Format
    </option>
</optgroup>
<optgroup class="filter-group-html" label="HTML Filters">
    <option
        data-fieldset="pair"
        data-placeholder-1="Label or {value}"
        data-placeholder-2="ie. /node/{node_id}"
        value="link"
        {{#when list.format '===' 'link'}}selected{{/when}}
    >
        Link
    </option>
    <option
        data-fieldset="pair"
        data-placeholder-1="Width"
        data-placeholder-2="Height"
        value="image"
        {{#when list.format '===' 'image'}}selected{{/when}}
    >
        Image
    </option>
    <option
        data-fieldset="input"
        data-placeholder="Label or {value}"
        value="email"
        {{#when list.format '===' 'email'}}selected{{/when}}
    >
        Email
    </option>
    <option
        data-fieldset="input"
        data-placeholder="Label or {value}"
        value="phone"
        {{#when list.format '===' 'phone'}}selected{{/when}}
    >
        Phone
    </option>
</optgroup>
<optgroup class="filter-group-json" label="JSON Filters">
    <option
        value="comma"
        {{#when list.format '===' 'comma'}}selected{{/when}}
    >
        Comma Separated
    </option>
    <option
        value="space"
        {{#when list.format '===' 'space'}}selected{{/when}}
    >
        Space Separated
    </option>
    <option
        value="tag"
        {{#when list.format '===' 'tag'}}selected{{/when}}
    >
        Tags
    </option>
</optgroup>
<optgroup label="_________">
    <option
        value="hide"
        {{#when list.format '===' 'hide'}}selected{{/when}}
    >Dont Show</option>
</optgroup>
