<select
    class="field-list form-control"
    data-do="field-list"
    data-on="change"
    name="meta_fields[{{@index}}][list][format]"
>
    {{> meta_format-options}}
</select>

{{#if list.parameters}}
    {{#is_array list.parameters}}
        <div class="input-options">
            <div class="input-pair">
                <input
                    name="meta_fields[{{@index}}][list][parameters][0]"
                    class="form-control"
                    type="text"
                    value="{{list.parameters.0}}"
                />
                <input
                    name="meta_fields[{{@index}}][list][parameters][1]"
                    class="form-control"
                    type="text"
                    value="{{list.parameters.1}}"
                />
            </div>
        </div>
    {{else}}
        <div class="input-input">
            <input
                class="form-control"
                name="meta_fields[{{@index}}][list][parameters]"
                type="text"
                value="{{list.parameters}}"
            />
        </div>
    {{/is_array}}
{{/if}}
