<script type="text/javascript">
(function($) {
    $.fn.extend({
        compile: function(variables) {
            var template = this.text();

            for(var key in variables) {
                template = template.replace(
                    new RegExp('\{' + key + '\}', 'ig'),
                    variables[key]
                );
            }

            return $(template);
        },
        getMetaIndex: function() {
            return this.parents('tr.meta-field')
                .eq(0)
                .attr('data-index');
        }
    });

    var copy = null;
    $(window).on('modal-open-click', function(e, trigger) {
        $(trigger).siblings('div.modal').eq(0).modal({
            backdrop: 'static',
            keyboard: false
        });

        copy = $(trigger)
            .siblings('div.modal')
            .eq(0)
            .find('div.modal-body')
            .clone();
    });

    $(window).on('modal-cancel-click', function(e, trigger) {
        var modal = $(trigger).parents('div.modal').eq(0).modal('hide');

        if(modal.hasClass('modal-update')) {
            modal
                .find('div.modal-body')
                .replaceWith(copy);

            copy.doon();
            copy = null;
        } else {
            modal.modal('hidden.bs.modal', function() {
                modal.remove();
            });
        }
    });

    $(window).on('modal-save-click', function(e, trigger) {
        var modal = $(trigger).parents('div.modal').eq(0);

        var error = false;

        if(!$('input.field-label', modal).val().length) {
            error = true;
            $.notify('Label cannot be empty.', 'danger');
        }

        if(!$('input.field-keyword', modal).val().length) {
            error = true;
            $.notify('Keyword cannot be empty.', 'danger');
        }

        if(error) {
            return;
        }

        modal.modal('hide');

        if(modal.hasClass('modal-create')) {
            var target = modal.attr('data-target');
            var index = $('div.modal-body', modal).attr('data-index');

            $('#field-row-template')
                .compile({ INDEX: index })
                .appendTo(target)
                .doon()
                .find('td.meta-action')
                .append(modal
                    .removeClass('modal-create')
                    .addClass('modal-update')
                );
        }

        var row = $(trigger).parents('tr.meta-field').eq(0);

        var label = $('input.field-keyword', modal).val();
        $('td.field-keyword-value', row).html(label);

        var keyword = $('input.field-label', modal).val();
        $('td.field-label-value', row).html(keyword);

        var type = $('select.field-type', modal).val();
        $('td.field-type-value', row).html(type);

        var list = $('select.field-list', modal).val();
        $('td.field-list-value', row).html(list);

        var detail = $('select.field-detail', modal).val();
        $('td.field-detail-value', row).html(detail);

        var value = $('input.field-default', modal).val();
        $('td.field-default-value', row).html(value.length ? value: '--');

        var searchable = $('input.field-searchable', modal)[0].checked;
        $('td.field-searchable-value', row).html(searchable ? 'Yes': 'No');

        var filterable = $('input.field-filterable', modal)[0].checked;
        $('td.field-filterable-value', row).html(filterable ? 'Yes': 'No');

        var sortable = $('input.field-sortable', modal)[0].checked;
        $('td.field-sortable-value', row).html(sortable ? 'Yes': 'No');

        copy = null;
    });

    $(window).on('remove-click', function(e, trigger) {
        var level = parseInt($(trigger).attr('data-level'));

        var target = $(trigger);

        if(!isNaN(level)) {
            for(var i = 0; i < level; i++) {
                target = target.parent();
            }
        }

        target.remove();
    });

    $(window).on('option-remove-click', function(e, trigger) {
        var container = $(trigger)
            .parents('div.input-options')
            .eq(0);

        var format = $('button.option-add', container).attr('data-name');

        $(window).trigger('remove-click', trigger);

        $('div.option-row', container).each(function(i) {
            $(this)
                .attr('data-index', i)
                .find('input.option-value')
                .attr('name', format.replace('{INDEX}', i));
        });
    });

    $(window).on('field-remove-click', function(e, trigger) {
        $(window).trigger('remove-click', trigger);
        reindex();
    });

    $(window).on('field-add-click', function(e, trigger) {
        var target = $(trigger).attr('data-target');
        var index = $('tr', target).length;

        $('#field-modal-template')
            .compile({ INDEX: index })
            .appendTo(document.body)
            .modal({
                backdrop: 'static',
                keyboard: false
            })
            .attr('data-target', target)
            .doon();
    });

    $(window).on('field-type-change', function(e, trigger) {
        trigger = $(trigger);

        var row = trigger.parents('div.modal-body').eq(0);
        var option = $('option[value="' + trigger.val() + '"]', trigger);

        //configuration
        var fieldset = (option.attr('data-fieldset') || '').split('|');
        var format = (option.attr('data-format') || '').split('|');
        var index = (option.attr('data-index') || '').split('|');

        //reset
        $('select.field-list optgroup', row).show();
        $('select.field-detail optgroup', row).show();
        $('input.field-searchable', row).attr('disabled', false);
        $('input.field-filterable', row).attr('disabled', false);
        $('input.field-sortable', row).attr('disabled', false);

        //determine ui
        ['attributes', 'options', 'keyval'].forEach(function(ui) {
            if(fieldset.indexOf(ui) === -1) {
                trigger.parent().find('div.input-' + ui).remove();
            } else if(!trigger.parent().find('div.input-' + ui).length) {
                var name = ui;
                if(name === 'keyval') {
                    name = 'options';
                }

                var template = 'meta_fields[{INDEX}][field][' + name + '][{INDEX}]';
                var html = $('#field-' + ui + '-template')
                    .compile({
                        NAME: template.replace(
                            '{INDEX}',
                            trigger.getMetaIndex()
                        )
                    })
                    .doon();

                trigger.after(html);
            }
        });

        //determine valid formats
        ['string', 'number', 'date', 'html', 'json'].forEach(function(type) {
            if(format.indexOf(type) === -1) {
                var list = $('select.field-list optgroup.filter-group-' + type, row).hide();
                if($('option:selected', list).length) {
                    list.parent().val('none');
                    $(window).trigger('field-list-change', list.parent());
                }

                var detail = $('select.field-detail optgroup.filter-group-' + type, row).hide();
                if($('option:selected', detail).length) {
                    detail.parent().val('none');
                    $(window).trigger('field-detail-change', detail.parent());
                }
            }
        });

        //determine index
        ['searchable', 'filterable', 'sortable'].forEach(function(feature) {
            if(index.indexOf(feature) === -1) {
                $('input.field-' + feature, row)
                    .attr('checked', false)
                    .attr('disabled', true);
            }
        });
    });

    $(window).on('attribute-add-click', function(e, trigger) {
        var name = $(trigger).attr('data-name');
        var template = $('#field-attribute-row-template')
            .compile({ NAME: name })

        var row = $(template).doon();

        $(trigger).before(row);
    });

    $(window).on('attribute-field-init', function(e, target) {
        $('input.attribute-key', target).change(function() {
            var format = $(target).attr('data-name');
            var name = format.replace('{INDEX}', $(this).val());
            $('input.attribute-value', target).attr('name', name);
        });
    });

    $(window).on('option-add-click', function(e, trigger) {
        var last = $(trigger).parent().find('div.option-row:last');

        var index = 0;
        if(last.length) {
            index = parseInt(last.attr('data-index')) + 1;
        }

        var name = $(trigger)
            .attr('data-name')
            .replace('{INDEX}', index);

        var row = $('#field-option-row-template')
            .compile({
                NAME: name,
                INDEX: index
            })
            .doon();

        $(trigger).before(row);
    });

    $(window).on('keyval-add-click', function(e, trigger) {
        var last = $(trigger).parent().find('div.keyval-row:last');

        var index = 0;
        if(last.length) {
            index = parseInt(last.attr('data-index')) + 1;
        }

        var name = $(trigger)
            .attr('data-name')
            .replace('{INDEX}', index);

        var row = $('#field-keyval-row-template')
            .compile({
                NAME_1: name + '[key]',
                NAME_2: name + '[value]',
                INDEX: index
            })
            .doon();

        $(trigger).before(row);
    });

    $(window).on('validation-add-click', function(e, trigger) {
        var last = $(trigger).parent().find('div.validation-row:last');

        var index = 0;
        if(last.length) {
            index = parseInt(last.attr('data-index')) + 1;
        }

        var group = $('#field-validation-template')
            .compile({
                INDEX_1: $(trigger).getMetaIndex(),
                INDEX_2: index
            })
            .doon();

        $(trigger).before(group);
    });

    $(window).on('field-validation-change', function(e, trigger) {
        trigger = $(trigger);

        var container = trigger.parent().parent();

        switch(trigger.val()) {
            case 'none':    case 'required':  case 'empty':
            case 'unique':  case 'number':    case 'float':
            case 'email':   case 'url':       case 'hex':
            case 'cc':      case 'price':
                container.find('div.input-input').remove();
                container.find('div.input-options').remove();
                break;
            case 'ne':        case 'lt':        case 'lte':
            case 'gt':        case 'gte':       case 'char_lt':
            case 'char_lte':  case 'char_gt':   case 'char_gte':
            case 'word_lt':   case 'word_lte':  case 'word_gt':
            case 'word_gte':  case 'regex':
                container.find('div.input-options').remove();
                if(!container.find('div.input-input').length) {
                    var template = 'meta_fields[{INDEX}][validation][{INDEX}][parameters]';
                    var parameters = $('#field-input-template')
                        .compile({
                            NAME: template
                                .replace('{INDEX}', trigger.getMetaIndex())
                                .replace('{INDEX}', container.attr('data-index'))
                        })
                        .doon();

                    trigger.parent().after(parameters);
                }
                break;
            case 'one':
                container.find('div.input-input').remove();
                if(!container.find('div.input-options').length) {
                    var template = 'meta_fields[{INDEX}][validation][{INDEX}][parameters][{INDEX}]';
                    var parameters = $('#field-options-template')
                        .compile({
                            NAME: template
                                .replace('{INDEX}', trigger.getMetaIndex())
                                .replace('{INDEX}', container.attr('data-index'))
                        })
                        .doon();

                    trigger.parent().after(parameters);
                }
                break;
        }
    });

    $(window).on('field-list-change', function(e, trigger) {
        trigger = $(trigger);

        var option = $('option[value="' + trigger.val() + '"]', trigger);
        var fieldset = option.attr('data-fieldset') || '';

        trigger.parent().find('div.input-input').remove();
        trigger.parent().find('div.input-pair').remove();

        //determine ui
        switch(fieldset) {
            case 'input':
                var placeholder = option.attr('data-placeholder') || '';
                var template = 'meta_fields[{INDEX}][list][parameters]';
                var input = $('#field-input-template')
                    .compile({
                        NAME: template.replace('{INDEX}', trigger.getMetaIndex())
                    })
                    .doon();

                $('input', input).attr('placeholder',placeholder);

                trigger.after(input);
                break;
            case 'pair':
                var name1 = 'meta_fields[{INDEX}][list][parameters][0]';
                var name2 = 'meta_fields[{INDEX}][list][parameters][1]';
                var placeholder = [
                    option.attr('data-placeholder-1') || '',
                    option.attr('data-placeholder-2') || ''
                ];

                var input = $('#field-pair-template')
                    .compile({
                        NAME_1: name1.replace('{INDEX}', trigger.getMetaIndex()),
                        NAME_2: name2.replace('{INDEX}', trigger.getMetaIndex())
                    })
                    .doon();

                $('input', input).each(function(i) {
                    $(this).attr('placeholder', placeholder[i]);
                });

                trigger.after(input);
                break;
        }
    });

    $(window).on('field-detail-change', function(e, trigger) {
        trigger = $(trigger);

        var option = $('option[value="' + trigger.val() + '"]', trigger);
        var fieldset = option.attr('data-fieldset') || '';

        trigger.parent().find('div.input-input').remove();
        trigger.parent().find('div.input-pair').remove();

        //determine ui
        switch(fieldset) {
            case 'input':
                var placeholder = option.attr('data-placeholder') || '';
                var template = 'meta_fields[{INDEX}][detail][parameters]';
                var input = $('#field-input-template')
                    .compile({
                        NAME: template.replace('{INDEX}', trigger.getMetaIndex())
                    })
                    .doon();

                $('input', input).attr('placeholder',placeholder);

                trigger.after(input);
                break;
            case 'pair':
                var name1 = 'meta_fields[{INDEX}][detail][parameters][0]';
                var name2 = 'meta_fields[{INDEX}][detail][parameters][1]';
                var placeholder = [
                    option.attr('data-placeholder-1') || '',
                    option.attr('data-placeholder-2') || ''
                ];

                var input = $('#field-pair-template')
                    .compile({
                        NAME_1: name1.replace('{INDEX}', trigger.getMetaIndex()),
                        NAME_2: name2.replace('{INDEX}', trigger.getMetaIndex())
                    })
                    .doon();

                $('input', input).each(function(i) {
                    $(this).attr('placeholder', placeholder[i]);
                });

                trigger.after(input);
                break;
        }
    });

    $(window).on('move-up-click', function(e, trigger) {
        var row = $(trigger).parent().parent();

        if(row.attr('data-index') == 0) {
            return;
        }

        row.prev().before(row);
        reindex();
    });

    $(window).on('move-down-click', function(e, trigger) {
        var row = $(trigger).parent().parent();

        var last = row.parent().find('tr.meta-field').length - 1;

        if(row.attr('data-index') == last) {
            return;
        }

        row.next().after(row);
        reindex();
    });

    var reindex = function() {
        var format = {
            label: 'meta_fields[{INDEX}][label]',
            type: 'meta_fields[{INDEX}][field][type]',
            list: 'meta_fields[{INDEX}][list][format]',
            detail: 'meta_fields[{INDEX}][detail][format]',
            value: 'meta_fields[{INDEX}][default]',
            searchable: 'meta_fields[{INDEX}][searchable]',
            filterable: 'meta_fields[{INDEX}][filterable]',
            sortable: 'meta_fields[{INDEX}][sortable]'
        };

        $('tr.meta-field').each(function(i) {
            $(this).attr('data-index', i);

            $('input.field-label', this).attr(
                'name',
                format.label.replace('{INDEX}', i)
            );

            $('select.field-type', this).each(function() {
                $(this).attr(
                    'name',
                    format.type.replace('{INDEX}', i)
                );

                $('div.input-options', $(this).parent()).each(function() {
                    var format = 'meta_fields[{INDEX}][field][options][{INDEX}]';

                    format = format.replace('{INDEX}', i);
                    $('button.option-add', this).attr('data-name', format);

                    $('div.option-row', this).each(function() {
                        var j = $(this).attr('data-index');
                        $(this)
                            .find('input.option-value')
                            .attr('name', format.replace('{INDEX}', j));
                    });
                });

                $('div.input-attributes', $(this).parent()).each(function() {
                    var format = 'meta_fields[{INDEX}][field][attributes][{INDEX}]';

                    format = format.replace('{INDEX}', i);
                    $('button.attribute-add', this).attr('data-name', format);

                    $('div.attribute-row', this).each(function() {
                        $(this)
                            .attr('data-name', format)
                            .find('input.attribute-value')
                            .attr('name', format.replace(
                                '{INDEX}',
                                $('input.attribute-key', this).val()
                            ));
                    });
                });

            });

            $('select.field-list', this).each(function() {
                $(this).attr(
                    'name',
                    format.list.replace('{INDEX}', i)
                );

                var name = 'meta_fields[{INDEX}][list][parameters]';
                $('div.input-input input', $(this).parent()).attr(
                    'name',
                    name.replace('{INDEX}', i)
                );

                name = 'meta_fields[{INDEX}][list][parameters][{INDEX}]';
                $('div.input-pair input', $(this).parent()).each(function(j) {
                    $(this).attr(
                        'name',
                        name
                            .replace('{INDEX}', i)
                            .replace('{INDEX}', j)
                    );
                });
            });

            $('select.field-detail', this).each(function() {
                $(this).attr(
                    'name',
                    format.detail.replace('{INDEX}', i)
                );

                var name = 'meta_fields[{INDEX}][detail][parameters]';
                $('div.input-input input', $(this).parent()).attr(
                    'name',
                    name.replace('{INDEX}', i)
                );

                name = 'meta_fields[{INDEX}][detail][parameters][{INDEX}]';
                $('div.input-pair input', $(this).parent()).each(function(j) {
                    $(this).attr(
                        'name',
                        name
                            .replace('{INDEX}', i)
                            .replace('{INDEX}', j)
                    );
                });
            });

            $('input.field-default', this).attr(
                'name',
                format.value.replace('{INDEX}', i)
            );

            $('input.field-searchable', this).attr(
                'name',
                format.searchable.replace('{INDEX}', i)
            );

            $('input.field-filterable', this).attr(
                'name',
                format.filterable.replace('{INDEX}', i)
            );

            $('input.field-sortable', this).attr(
                'name',
                format.sortable.replace('{INDEX}', i)
            );

            $('div.validation-row', this).each(function() {
                var format = 'meta_fields[{INDEX}][validation][{INDEX}][method]';
                var j = $(this).attr('data-index');

                $('select', this).attr('name', format
                    .replace('{INDEX}', i)
                    .replace('{INDEX}', j)
                );

                $('div.input-input input', this).each(function() {
                    var format = 'meta_fields[{INDEX}][validation][{INDEX}][parameters]';
                    $(this).attr('name', format
                        .replace('{INDEX}', i)
                        .replace('{INDEX}', j)
                    );
                });

                $('div.input-options', this).each(function() {
                    var format = 'meta_fields[{INDEX}][validation][{INDEX}][parameters][{INDEX}]';

                    format = format.replace('{INDEX}', i);
                    $('button.option-add', this).attr('data-name', format);

                    $('div.option-row', this).each(function(k) {
                        var k = $(this).attr('data-index');
                        $(this)
                            .find('input.option-value')
                            .attr('name', format
                                .replace('{INDEX}', j)
                                .replace('{INDEX}', k)
                            );
                    });
                });
            });
        });
    };
})(jQuery);
</script>
