<select
    class="field-type form-control"
    data-do="field-type"
    data-on="change"
    name="meta_fields[{{@index}}][field][type]"
>
    {{> meta_type-options}}
</select>

{{#if field.options}}
    <div class="input-options">
        {{#each field.options}}
            <div class="option-row input-group" data-index="{{@index}}">
                <input
                    class="form-control option-value"
                    name="meta_fields[{{../@index}}][field][options][{{@index}}]"
                    placeholder="Value"
                    type="text"
                    value="{{this}}"
                />
                <span class="input-group-btn">
                    <a
                        class="btn btn-danger"
                        data-do="option-remove"
                        data-on="click"
                        data-level="2"
                        href="javascript:void(0)"
                    >
                        <i class="fa fa-remove"></i>
                    </a>
                </span>
            </div>
        {{/each}}
        <button
            data-do="option-add"
            data-name="meta_fields[{{@index}}][field][options][{INDEX}]"
            data-on="click"
            class="btn btn-info option-add"
            type="button"
        >
            Add Option
        </button>
    </div>
{{/if}}

{{#if field.attributes}}
    <div class="input-attributes">
        {{#each field.attributes}}
            <div
                class="attribute-row"
                data-do="attribute-field"
                data-name="meta_fields[{{../@index}}][field][attributes][{INDEX}]"
            >
                <input
                    class="form-control attribute-key"
                    placeholder="Attribute"
                    type="text"
                    value="{{@key}}"
                />
                <input
                    class="form-control attribute-value"
                    name="meta_fields[{{../@index}}][field][attributes][{{@key}}]"
                    placeholder="Value"
                    type="text"
                    value="{{this}}"
                />
                <a
                    class="btn btn-danger"
                    data-do="remove"
                    data-on="click"
                    data-level="1"
                    href="javascript:void(0)"
                >
                    <i class="fa fa-remove"></i>
                </a>
            </div>
        {{/each}}
        <button
            data-do="attribute-add"
            data-name="meta_fields[{{@index}}][field][attributes][{INDEX}]"
            data-on="click"
            class="attribute-add btn btn-info"
            type="button"
        >
            Add Attribute
        </button>
    </div>
{{/if}}
